<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636309987955-0lc45f1fphnlr9jepdqq039su94rbvi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636309987955-0lc45f1fphnlr9jepdqq039su94rbvi5</string>
	<key>API_KEY</key>
	<string>AIzaSyAMajEu9j5TXhY0cq5M0wcrYZ0xBEPqftQ</string>
	<key>GCM_SENDER_ID</key>
	<string>636309987955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiousRiderApp</string>
	<key>PROJECT_ID</key>
	<string>hious-rider-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hious-rider-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636309987955:ios:2afa8e20a4bcb478854006</string>
</dict>
</plist>